.pageBg {
    position: fixed;
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    color: var(--text-color);
    display: flex;
}

.content {
    width: 100%;
    height: 92%;
    background-color: var(--dark1);

    margin: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    padding: 1rem;
    padding-right: 0rem;

    border-radius: 5px;
    overflow: hidden;
}

.content h1 {
    margin-top: 0;
}

.questOverlayContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: auto;
    background-color: rgb(0,0,0,0.5);
    
    z-index: 99999;

    transform: translate(-6.2%, -104%);
}

.questOverlayContainer > p {
    display: inline-block;
    width: 100vw;
    text-align: center;
    transform: translateY(250%);
    margin: 0;
}

.questDetailsContainer {
    position: absolute;
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0,0,0,0.5);
    opacity: 0.9;
}

.questDetails {
    width: 250px;
    height: fit-content;
    padding: 0.5rem;
    background-color: var(--dark1);
    border-radius: 5px;

    cursor: default;
}

.questDetails span {
    color: rgb(200, 200, 200);
    font-size: 0.7rem;
}

.questDetails * {
    margin: 0;
}

.questDetails h1 {
    font-size: 1rem;
}

.questDetails h2 {
    font-size: 0.8rem;
}

.brandDrop {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 600px;
    height: 2rem;

    pointer-events: none;

    transform: translateY(-200%);

    animation: brandDropPop 2s linear;
}

.brandDrop span {
    background-color: var(--background);

    padding: 0.7rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    margin-top: 1rem;

    border-radius: 5px;
    border: 2px solid var(--light);
}

.questCanvas {
    width: 600px;
    height: 600px;
    background-color: transparent;
}

.overlayTitle {
    position: absolute;
    text-align: center;
    width: 600px;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: var(--light2);
    pointer-events: none;
}
.overlayId {
    position: absolute;
    text-align: center;
    width: 600px;
    height: 600px;
    font-size: 1.2rem;
    margin-top: auto;
    margin-bottom: 0.5rem;
    text-align: start;
    color: var(--light2);
    pointer-events: none;
    display: flex;
    align-items: flex-end;
    font-size: 0.8rem;
    padding: 0.5rem;
}


.questOverlay {
    width: 600px;
    height: 600px;
    border-radius: 5px;
    background-color: #021016;
    overflow: hidden;
    cursor: grab;

    clip-path: inset(0 0 0 0);

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    margin-left: auto;
    margin-right: auto;

    transform: translateY(10%);
}

.questOverlay:active {
    cursor: grabbing;
}

.panelNode {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 3px solid rgb(200, 200, 200);
    border-radius: 100%;

    background-color: transparent;

    cursor: pointer;
}

.panelNode:hover {
    filter: brightness(150%);
}

.quests {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 100%;

    padding-bottom: 5rem;
}

.quest {
    border: 2px solid var(--light);
    width: 205px;
    height: 270px;
    border-radius: 5px;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    cursor: pointer;
}

.quest:hover {
    border: 2px solid var(--text-color);
}

.quest h1 {
    margin-top: 0.5rem;
    width: 90%;
    text-align: start;
    margin-bottom: 0;
    font-size: 0.85rem;
}

.quest p {
    width: 90%;
    margin-top: 0.2rem;
    font-size: 0.75rem;
    text-align: left;
}

.quest p a:hover {
    text-decoration: underline;
}

.questId {
    font-size: 0.7rem;
    display: flex;
    align-items: flex-end;
    width: 90%;
    color: var(--light);
    margin-top: auto;
    margin-bottom: 0.2rem;
}

.questId a:hover {
    text-decoration: underline;
}

.questId span {
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.questThumbnail {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0;
}

.questTitleContainer {
    width: 90%;
    height: 3rem;
    border-bottom: 1px solid var(--light);
    text-align: center;
    display: flex;
    align-items: center;
}

.questTitle {
    width: 100%;
    margin-bottom: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    user-select: text;
}

.quests::-webkit-scrollbar {
    width: 15px;
}
  
.quests::-webkit-scrollbar-track {
}

.quests::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    background-clip: padding-box;
    border-radius: 99999px;
    background-color: var(--dark2);
}

.quests::-webkit-scrollbar-thumb:hover {
    border: 5px solid transparent;
    background-clip: padding-box;
    border-radius: 99999px;
    background-color: #5e5e5e;
}

.BoardCompleteRewards {
    position: absolute;
    width: 100%;
    height: 1px;
    display: flex;
    justify-content: flex-end;
    bottom: 0;
}

.BoardCompleteRewards button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-right: 1.5rem;
    transform: translateY(-150%);
}

.CompleteRewards_tooltip {
    position: absolute;
    transform: translate(-102%, -110%);
    background-color: var(--dark2);
    opacity: 0.9;
    width: 220px;
    padding-bottom: 1rem;
    border-radius: 5px;
    color: var(--text-color);
}

.tooltip_arrow {
    content: '';
    width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  
  border-left: 5px solid var(--dark2);
  transform: rotate(90deg);
  transform: translate(-100%, -500%);
  opacity: 0.9;
  margin: 0;
}

.CompleteRewards_tooltip h1 {
    font-size: 1rem;
    margin-top: 1rem;
}

.CompleteRewards_tooltip p {
    margin: 0;
}

.ViewToggleContainer {
    width: 65px;
    height: 35px;
}

.ViewToggle {
    display: flex;

    border: 3px solid #A7A2A9;
    border-radius: 10px;
    
    height: 35px;

    transform: translateY(-15%);
    cursor: pointer;
    
}

.ViewToggle .state {
    width: 30px;
    height: 30px;
    
    display: flex;
    
    align-items: center;
    justify-content: center;

    user-select: none;
}

.ViewToggle ~ .stateFrame {
    position: absolute;
    width: 35px;
    height: 35px;
    border: 3px solid #E7EEEA;
    border-radius: 10px;
    cursor: pointer;

    transition: 0.1s;

    background-color: rgba(160, 119, 119, 0.05);
}

.AdvancedView {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;

    overflow-y: auto;
}

.AdvancedView::-webkit-scrollbar {
    width: 15px;
}
  
.AdvancedView::-webkit-scrollbar-track {
}

.AdvancedView::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    background-clip: padding-box;
    border-radius: 99999px;
    background-color: var(--dark2);
}

.AdvancedView::-webkit-scrollbar-thumb:hover {
    border: 5px solid transparent;
    background-clip: padding-box;
    border-radius: 99999px;
    background-color: #5e5e5e;
}

.AdvancedView, .AdvancedView > div {
    height: 95%;
}

.AdvancedView > div:first-of-type {
    display: flex;
    flex-direction: column;
}

.AdvancedView .BoardList {
    display: flex;
    flex-direction: column;
    
    border: 2px solid var(--background);
    border-radius: 5px;
    
    width: 345px;
    flex-grow: 9;

    overflow-x: hidden;
    overflow-y: auto;

    scrollbar-width: thin;

    text-decoration: none;
    list-style: none;

    padding-left: 0;
}

.BoardList li:hover {
    background-color: rgba(150,150,150,0.5);
}

.ActiveQuests {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--background);

    flex-grow: 4;
    margin-left: 1rem;
    border-radius: 5px;
    list-style-type: none;
    padding-left: 0;

    min-width: 300px;
    max-width: 300px;
    min-height: 85%;
    max-height: 85%;

    overflow-y: auto;

    scrollbar-width: thin;
}

.ActiveQuests::-webkit-scrollbar {
    width: 15px;
}
  
.ActiveQuests::-webkit-scrollbar-track {
}

.ActiveQuests::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    background-clip: padding-box;
    border-radius: 99999px;
    background-color: var(--dark2);
}

.ActiveQuests::-webkit-scrollbar-thumb:hover {
    border: 5px solid transparent;
    background-clip: padding-box;
    border-radius: 99999px;
    background-color: #5e5e5e;
}

.PassiveQuests {
    width: fit-content;

    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 5px;

    display: flex;
    flex-direction: row;

    flex-wrap: wrap;

    justify-content: center;
}

.APanel h1 {
    font-size: 0.85rem;
    text-align: left;

    width: 95%;
}

.APanel h2 {
    font-size: 0.75rem;
    width: 95%;
    text-align: right;
    
    margin-top: 0;
    margin-bottom: 0;
}

.APanel span:last-of-type{
    display: block;
    margin-bottom: 0.3rem;
}

.APanel div {
    margin-top: 0.5rem;
}

.APanel div:first-child {
    width: 280px;
}

.APanelCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;

    border-left: 2px dashed var(--background);

    cursor: pointer;

}

.APanelCheckbox:hover {
    background-color: #525252;
}

.APanelCheckbox input {
    width: 15px;
    height: 15px;
    border: 2px solid black;

    accent-color: green;

    cursor: pointer;
}

.APanel {
    width: 100%;
    min-height: 70px;

    display: flex;

    border-bottom: 2px solid var(--background);
    position: relative;
}

.APanelTagLeft {
    position: absolute;
    background-color: rgb(134, 194, 203);
    border: 2px solid rgb(110, 159, 166);
    top: 50%;
    left: 74.5%;
    width: 12px;
    height: 12px;
    transform: translate(95%, -120%) rotate(45deg);
}

.APanel p {
    margin: 0;
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

.APanel:hover {
    background-color: rgba(150,150,150,0.5);
}

.UpcomingQuests {
    margin-right: 0.5rem;
    flex-grow: 1;
    border: 2px solid var(--background);
    border-radius: 5px;
    list-style-type: none;
    padding-left: 0;

    overflow-y: auto;

    min-width: 300px;
    max-width: 300px;
    max-height: 480px;
    height: 85%;

    scrollbar-width: thin;
}

.UpcomingQuests::-webkit-scrollbar {
    width: 15px;
}
  
.UpcomingQuests::-webkit-scrollbar-track {
}

.UpcomingQuests::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    background-clip: padding-box;
    border-radius: 99999px;
    background-color: var(--dark2);
}

.UpcomingQuests::-webkit-scrollbar-thumb:hover {
    border: 5px solid transparent;
    background-clip: padding-box;
    border-radius: 99999px;
    background-color: #5e5e5e;
}

.CompletedQuests {
    margin-left: 0.5rem;
    flex-grow: 1;
    border: 2px solid var(--background);
    border-radius: 5px;
    list-style-type: none;
    padding-left: 0;

    overflow-y: auto;
    min-width: 300px;
    max-width: 300px;
    max-height: 480px;
    height: 85%;

    scrollbar-width: thin;
}

.CompletedQuests::-webkit-scrollbar {
    width: 15px;
}
  
.CompletedQuests::-webkit-scrollbar-track {
}

.CompletedQuests::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    background-clip: padding-box;
    border-radius: 99999px;
    background-color: var(--dark2);
}

.CompletedQuests::-webkit-scrollbar-thumb:hover {
    border: 5px solid transparent;
    background-clip: padding-box;
    border-radius: 99999px;
    background-color: #5e5e5e;
}

.BoardList::-webkit-scrollbar {
    width: 15px;
}
  
.BoardList::-webkit-scrollbar-track {
}

.BoardList::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    background-clip: padding-box;
    border-radius: 99999px;
    background-color: var(--dark2);
}

.BoardList::-webkit-scrollbar-thumb:hover {
    border: 5px solid transparent;
    background-clip: padding-box;
    border-radius: 99999px;
    background-color: #5e5e5e;
}

.AQuest {
    cursor: pointer;
    position: relative;

    height: 4rem;

    margin-bottom: 0.2rem;
}

.AProgressLabel {
    position: absolute;
    left: 100px;

    font-size: 0.8rem;
    font-weight: 400;

    padding-bottom: 0.2rem;
}

.AQuest h2 {
    font-size: 1rem;
    text-align: left;
    line-height: 1rem;
}

.AQuest span {
    position: absolute;
    right: 1rem;
    bottom: 0;

    font-size: 0.8rem;
    font-weight: 400;

    padding-bottom: 0.2rem;
}

.AFilters {
    display: flex;
    width: 350px;
    flex-wrap: wrap;
    user-select: none;
}

.AFilter {
    border: 1px solid var(--light2);
    border-radius: 5px;
    padding: 0.25rem;

    font-size: 0.8rem;
    cursor: pointer;

    margin-top: 0.3rem;
}

.AFilter:hover {
    background-color: rgba(170,170,170,0.5);
}

@keyframes brandDropPop {
    0% {
        transform: translateY(-200%);
    }
    10% {
        transform: translateY(0%);
    }
    90% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-200%);
    }
}

@media (max-width: 553px) {
    .content {
        margin: 0;
        width: 100%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .quests {
        width: 460px;
    }

    .pageBg {
        justify-content: center;
    }

    .left-right-ad {
        display: none;
    }

    .left-right-ad div {
        margin-left: 0;
    }
}

@media (max-width: 455px) {
    .quests {
        width: 100%;
    }
    .quest {
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 600px) {
    .questOverlay {
        transform: translate(calc(-1 * (600px - 100vw) / 2), 10%);
    }

    .contentHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .BoardCompleteRewards button {
        transform: translate(-150px, -150%);
    }

    .ViewToggleContainer {
        margin-top: 0.5rem;
        transform: translate(-9px, 0.2rem);
        margin-bottom: 0.5rem;
    }

    .UpcomingQuests {
        margin-bottom: 1rem;
        height: 28rem;
        margin-right: 0;
    }

    .ActiveQuests {
        margin: 0;
    }

    .CompletedQuests {
        height: 28rem;
        margin: 0;
    }

    .PassiveQuests {
        height: 56rem;
        margin: 0;
    }

    .content {
        min-height: fit-content;
        padding-bottom: 10rem;
    }
}