:root {
  --background: #1B2021;
  --dark1: #262A30;
  --dark2: #30343F;
  --light: #A7A2A9;
  --text-color: #E7EEEA;
  --blue: #14213D;
  --gold: #FCA311;
  --light2: #E5E5E5;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

label:has(input.visually-hidden:focus-visible) {
  outline: auto;
}