.bg {
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comingSoon {
    text-align: center;
    font-size: min(8vw, 5rem);
    color: #E7EEEA;
    user-select: none;
    -webkit-user-select: none;
    height: fit-content;
}