.Map {
    background-color: var(--background);
}

.MapControlLayer {
    display: flex;

    background-color: var(--dark1);
    width: 350px;
    height: 100vh;
    position: absolute;
    z-index: 999;

    transition: 0.2s;
}

.MCL_in {
    transform: translateX(-95%);
}

.MCL_content {
    width: 100%;

    display: flex;

    flex-direction: column;

    padding: 0.5rem;

    font-size: 1.2rem;

    color: var(--text-color);

}

.MCL_mapsearch {
    margin-top: 4px;
}

.MCL_mapsearch input {
    all:unset;

    background-color: var(--light);

    padding: 0.3rem;

    color: black;

    width: 100%;

    border-radius: 5px;

    cursor: pointer;
    border: 3px solid transparent;
    transition: 0.3s;

    user-select: none;
    -webkit-user-select: none;
}

.MCL_mapsearch input:hover {
    border: 3px solid lightgray;
}

.mapsearch_suggestions {
    position: absolute;
        
    width: 95%;

    max-height: 250px;
    overflow-y: auto;

    background-color: var(--background);

    cursor: pointer;
}

.mapsearch_suggestions div {
    margin: 0.1rem;
    padding: 0.2rem;
}

.mapsearch_suggestions div:hover {
    background-color: var(--dark2);
    filter: brightness(90%);
}

.highlight {
    background-color: var(--dark2);
}

.MCL_chevron {
    width: 4%;
    height: 100%;

    display: flex;

    align-items: center;
}

.MCL_chevron_container {
    width: 50px;
    height: 75px;

    background-color: var(--dark2);

    display: flex;
    align-items: center;
    cursor: pointer;

    border-radius: 5px;
}

.MCL_chevron_container:hover {
    filter: brightness(120%);
}

.MCL_chevron img {
    height: 30px;

    transition: 0.3s;
}