.Map {
    background-color: var(--background);
}

.MapControlLayer {
    display: flex;

    background-color: var(--dark1);
    width: 350px;
    height: 100vh;
    position: absolute;
    z-index: 999;

    transition: 0.2s;

    overflow: hidden;

    /* width: 100%; */
    height: 100vh;

    display: flex;

    flex-direction: column;

    padding: 0.5rem;

    font-size: 1.2rem;

    color: var(--text-color);

    overflow-x: hidden;
    overflow-y: hidden;
}

.MCL_content {
    width: 100%;
    height: 100vh;

    display: flex;

    flex-direction: column;

    padding: 0.5rem;

    font-size: 1.2rem;

    color: var(--text-color);

    overflow-x: hidden;
    overflow-y: hidden;
}

.MCL_mapsearch {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
}

.MCL_mapsearch input {
    all:unset;

    background-color: var(--light);

    padding: 0.3rem;

    color: black;

    width: 95%;

    border-radius: 5px;

    cursor: pointer;
    border: 3px solid transparent;
    transition: 0.3s;

    user-select: none;
    -webkit-user-select: none;
}

.MCL_mapsearch input:hover {
    border: 3px solid lightgray;
}

.mapsearch_suggestions {
    position: absolute;
        
    width: 90%;

    max-height: 250px;
    overflow-y: auto;

    transform: translateY(40px);

    background-color: var(--background);

    cursor: pointer;

    z-index: 999;

    display: flex;
    flex-direction: column;
}

.mapsearch_suggestions button {
    padding: 0.3rem;
    text-align: left;
    font-size: 1.2rem;
    color: var(--text-color);
    border: none;
}

.mapsearch_suggestions button:hover {
    background-color: var(--dark2);
    filter: brightness(150%);
}

.MCL_chevron {
    position: absolute;
    width: 25px;
    height: 100%;

    display: flex;

    align-items: center;
    z-index: 999;
    left: 335px;
    transition: 0.2s;
}

.MCL_chevron_container {
    width: 50px;
    height: 75px;

    background-color: var(--dark2);

    display: flex;
    align-items: center;
    cursor: pointer;

    padding: 0;
    border: none;

    border-radius: 5px;
}

.MCL_chevron_container:hover {
    filter: brightness(120%);
}

.MCL_chevron img {
    height: 30px;

    transition: 0.3s;
}

.Popup {
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
}

.Popup button {
    margin: 0 auto;
    border: 0;
    background-color: transparent;
    color: blue;
    cursor: pointer;
}

.Popup a:hover {
    text-decoration: underline;
}

.Popup::-webkit-scrollbar {
    width: 2px;
}
 
 .Popup::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
 .Popup::-webkit-scrollbar-thumb {
    background: #888;
}
 
 .Popup::-webkit-scrollbar-thumb:hover {
    background: #555;
} 

.noSelect {
    user-select: none;
    -webkit-user-select: none;
}

.langPicker_display {
    background-color: var(--light);
    width: 65px;
    padding: 0.1rem;
    padding-left: 0.4rem;
    border: 3px solid transparent;
    color: black;
    font-weight: bold;

    border-radius: 5px;

    cursor: pointer;
}

.langPicker_display:hover {
    border: 3px solid lightgray;
}

.langPicker_dropdown {
    position: absolute;

    cursor: pointer;

    color: black;

    background-color: var(--light);

    width: 60px;

    font-weight: bold;

    filter: brightness(90%);

    border: 3px solid transparent;
}

.langPicker_dropdown:hover {
    border: 3px solid lightgray;
}

.MCL_selectorsContainer {
    user-select: none;
    -webkit-user-select: none;

    overflow-y: auto;
    transform: translateY(1px);
}

.MCL_selectorsContainer::-webkit-scrollbar {
    width: 0.8px;
}
 
 .MCL_selectorsContainer::-webkit-scrollbar-track {
    background: transparent;
}
 
 .MCL_selectorsContainer::-webkit-scrollbar-thumb {
    background: silver;
}
 
 .MCL_selectorsContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
} 

.selectorsHeader img {
    transform: rotate(270deg);
    transition: 0.1s;
}

.selectorsHeader:has(label input:checked) > label > img {
    transform: rotate(90deg);
}

.selectorsHeader:has(label input:checked) + .MCL_selectors{
    max-height: 0px;
}

.MCL_selectors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    max-height: 200vw;
    overflow-y: hidden;
    transition: 0.2s ease-in-out;
}

.MCL_selector {
    margin: 0.2rem;

    width: 47%;
    height: 2.3rem;
    background-color: #555;

    display: flex;
    flex-direction: row;

    justify-content: left;
    align-items: center;

    cursor: pointer;

    border-radius: 5px;

    font-weight: bold;
    border: 3px solid transparent;

    padding-right: 0.2rem;
}

.MCL_selector:hover {
    border: 3px solid lightgray;
}

.MCL_selector div {
    max-width: 90%;
    line-height: 1rem;
}

.selectors_toggle {
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: none;
    color: lightblue;
    font-size: 0.7rem;
}

.selectors_toggle:hover {
    border-bottom: 1px solid lightblue;
}

.tooltipParent:hover .tooltip {
    opacity: 1;
    transition: 0.1s ease-in-out;
}

.tooltip {
    pointer-events: none;
    position: fixed;
    padding: 0.2rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--dark2);
    transform: translateX(-40%);
    opacity: 0;
}

.settingsToggle:has(input:checked) + .settings {
    opacity: 1;
    display: block;
}

.settings {
    position: fixed;

    transform: translate(-102%, -100%);

    background-color: var(--dark2);
    padding: 0.5rem;

    border-radius: 5px;

    display: none;
    opacity: 0;
    transition: opacity 0.1s;
}

.settings h1 {
    font-size: 0.8rem;
    margin-top: 0;
}

.settings input {
    transform: translateY(2.5px);
}

.TermSearchContainer {
    position: absolute;
    width: fit-content;
    z-index: 999;
    height: fit-content;
    left: 360px;
    padding-top: 0.5rem;
    transition: 0.2s;
}

.TermSearch {
    width: 35px;
    height: 35px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.45s;
}

.TermSearch:focus-within {
    width: 250px;
    height: fit-content;
}

.TermSearch_head {
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    overflow: hidden;
}

.TermSearch_head > img {
    width: 35px;
    height: 35px;
    user-select: none;
    padding: 5px;
    background-color: var(--dark1); 
    border-radius: 7px;
    border: 2px solid transparent;
}

.TermSearch_head > img:hover {
    border: 2px solid #ABAFD1;
}

.TermSearch_head input {
    top: 0;
    height: 35px;
    width: 220px;
    font-size: 1rem;
    background-color: var(--dark2);
    color: var(--text-color);
    border: none;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin-left: 0.2rem;
    border-radius: 7px;
}

.TermSearch_head input:focus {
    outline: none;    
}

.TermSearch_results {
    margin-top: 0.5rem;
    border-radius: 7px;
    overflow: hidden;
    overflow-y: auto;
    height: 20rem;
    transition: 0.2s;
}

.TermSearch_results::-webkit-scrollbar {
    width: 5px;
}
 
.TermSearch_results::-webkit-scrollbar-track {
    background: var(--dark2);
}
 
.TermSearch_results::-webkit-scrollbar-thumb {
    background: var(--dark1);
}
 
.TermSearch_results::-webkit-scrollbar-thumb:hover {
    background: #555;
} 
.TermSearchResultsList::-webkit-scrollbar {
    width: 5px;
}
 
.TermSearchResultsList::-webkit-scrollbar-track {
    background: var(--dark2);
}
 
.TermSearchResultsList::-webkit-scrollbar-thumb {
    background: var(--dark1);
}
 
.TermSearchResultsList::-webkit-scrollbar-thumb:hover {
    background: #555;
} 

.TermSearchResults {
    display: flex;
    flex-direction: column;
}

.TermSearchResults span, .TermSearchResults label {
    font-size: 0.8rem;
    background-color: var(--background);
    color: var(--text-color);
    padding-left: 0.5rem;
}

.TermSearchResults > label {
    border-bottom: 1px solid var(--light);
    cursor: pointer;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    display: flex;
}

.TermSearchResults > label::after {
    content: "-";
    margin-left: auto;
    display: inline-block;
    margin-right: 1rem;
}
.TermSearchResults > label:has(input:checked)::after {
    content: "+";
}

.TermSearchResults > label:has(input:checked) + .TermSearchResultsList {
    max-height: 0;
}

.TermSearchResultsList button {
    background-color: var(--background);
    width: 100%;
    height: 2rem;
    border: none;
    text-align: left;
    color: var(--light);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.TermSearchResultsList {
    height: fit-content;
    max-height: 250px;
    overflow: hidden;
    overflow-y: auto;
    transition: 0.3s max-height;
}

.TermSearchResultsList button span {
    background-color: transparent;
}

.TermSearchResultsList button:hover {
    background-color: var(--dark2);
}